.transition-enter {
  opacity: 0;
  transform: translateX(100vh);
  z-index: 1;
}

.transition-enter-active {
  opacity: 1;
  transform: translateX(0vh);
  transition: all 1750ms ease-out;
  z-index: 2;
}
