.Conteudomodal{
    display:flex;
    flex-direction: row;
    width:90%;
    margin: auto;
    padding-top: 3em;
    padding-bottom:6em;
    flex-wrap: wrap;
    background-color: white;
    align-content: flex-start;
    align-items:flex-start;
    justify-items: center;
    justify-content: flex-start;
    gap:2em;

    .cardmodal{
        width:100%;
        display:flex;
        flex-direction: column;
    }

    .cardsmodal{
        display: flex;
        flex-direction: row;
        width:100%;
        gap:2em;
    }

    .titulomodal{
        color:#1a2437;
        text-align:left;
    }

    .paragrafoinfo{
        text-align: left;
        color:#1a2437;
        padding-top:2em;
    }

    .titulocardmodal{
        display:flex;
        margin-bottom:2em;
    }

    .botao{
        cursor: pointer;
    }

    .areainput{
        width:100%;
    }

    .exemploinput{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        gap:1em;
    }

    .input{
        margin-top:1em;
        padding:1em;
        border-radius:1em;
        border: solid 1px;
        width:100%;
    }

    .info{
        padding:1em;
        width:15em;
        height:10em;
        border-radius:1em;
        background-color: var(--cinza-claro);
    }

    .iconeinformacao{
        position:relative;
        display:flex;
        height:1.2em;
        img{
            position:absolute;
            right:0;
            width:1.2em;
        }
    }

}

.modal{
    padding: 2em;
    border-radius: 1em;
    border: solid 1px #f0f2f4;
    box-shadow: 3px 3px 8px #e3e3e3;
    width: 30%;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:1em;
    

    h2{
        font-family: var(--fonte-paragrafos);
        font-size:20px;
    }

    .botoesmodal{
        display:flex;
        gap:0.75em;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .botaomodal{
        width:auto;
        min-width: 3em;
        border-radius:2em;
    }

    .botaovermelho{
        background-color: var(--vermelho);
    }

    .botaovermelho:hover{
        background-color: var(--vermelho-escuro);
    }

    .fechar{
        position:relative;
        display:flex;
        height:1.2em;
        img{
            position:absolute;
            right:0;
            width:1.2em;
        }
    }

    


}