.Conteudoicones{
    display:flex;
    flex-direction: row;
    width:90%;
    margin: auto;
    padding-top: 3em;
    flex-wrap: wrap;
    background-color: white;
    align-content: flex-start;
    align-items:flex-start;
    justify-items: center;
    justify-content: flex-start;
}