@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --fonte-titulos: "Bricolage Grotesque", sans-serif;
  --fonte-paragrafos: "DM Sans", sans-serif;
  --laranja: #f15f38;
  --laranja-escuro: #ee3000;
  --azul-light: #cee3ff;
  --azul: #217efd;
  --azul-claro: #b8c9d3;
  --azul-escuro: #1a2437;
  --azul-medio: #99c5c8;
  --bege: #dfdecb;
  --cinza: #697480;
  --cinza-claro: #f0f2f4;
  --vermelho: #f03e3e;
  --vermelho-escuro: #9b1e1e;
  --vermelho-escuro50: #740d0d;
  --vermelho-light: #ffe7e7;
  --verde-light: #e8f6ea;
  --verde: #3c9c16;
  --amarelo-light: #ffe3ba;
  --amarelo: #e6931a;
  --lilas-light: #c8a9ff;
  --lilas: #8749f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

h1 {
  line-height: 1.1;
  font-family: var(--fonte-titulos);
}

h2 {
  line-height: 1.1;
  font-family: var(--fonte-titulos);
}

h3 {
  line-height: 1.1;
  font-family: var(--fonte-titulos);
}

p {
  line-height: 1.4;
  font-family: var(--fonte-paragrafos);
}

label {
  line-height: 1.4;
  font-family: var(--fonte-paragrafos);
}

input {
  line-height: 1.4;
  font-family: var(--fonte-paragrafos);
}

input:focus {
  border: solid 2px;
  border-color: var(--laranja);
}

input::file-selector-button {
  font-family: var(--fonte-paragrafos);
  background-color: var(--azul-escuro);
  color: white;
  padding: 1em;
  border-radius: 2em;
  border: none;
  transition: all 500ms;
}

input::file-selector-button:hover {
  background-color: var(--cinza);
  color: white;
  transition: all 500ms;
}

input[type="file"] {
  align-items: center;
  display: flex;
}
select {
  line-height: 1.4;
  font-family: var(--fonte-paragrafos);
}

select:focus {
  border: solid 2px;
  border-color: var(--laranja);
}

textarea {
  line-height: 1.4;
  font-family: var(--fonte-paragrafos);
}

textarea:focus {
  border: solid 2px;
  border-color: var(--laranja);
}

a {
  text-decoration: none;
}

button {
  border: none;
  margin-top: 1em;
  border-radius: 1em;
  padding: 0.6em 1.2em;
  font-family: var(--fonte-paragrafos) !important;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--azul-escuro);
  transition: all 500ms;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: var(--cinza);
  transition: all 500ms;
}
