.Conteudologotipo{
    gap: 2em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:90%;
    height:100%;
    margin: auto;
    background-color: white;
    align-items:center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;

    .cardlogotipo{
        display:flex;
        flex-direction: column;
        height:auto;
        align-items:center;
        align-content: center;
    }

    .titulologotipo{
        color:#1a2437;
        text-align:center;
    }

    .paragrafoinfo{
        text-align: left;
        color:#1a2437;
        padding-top:2em;
    }


    .imagemlogo{
        padding:2em;
        width:15em;
    }
    .imagemlogomenor{
        padding:2em;
        width:10em;
    }
    .linhalogomenor{
        display:flex;
    }
    .info{
        padding:1em;
        width:35em;
        height:10em;
        border-radius:1em;
        background-color: var(--cinza-claro);
    }

    .iconeinformacao{
        position:relative;
        display:flex;
        height:1.2em;
        img{
            position:absolute;
            right:0;
            width:1.2em;
        }
    }
}